<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://raw.githubusercontent.com/markdowncss/modest/master/css/modest.css">
    <style>
      table {
        border-collapse: collapse;
        margin-top: 18px;
        margin-bottom: 23px;
      }
      table, th, td {
        border: 1px solid #aaaaaa;
        padding: 10px;
        font-family: monospace;
      }
      h3 {
        border-bottom: 2px solid #eaeaea;
      }
      h4 {
        border-top: 2px solid #dadada;
        margin-top: 1.15rem;
        padding-top: 1.5rem;
      }
      h5 {
        font-weight: 400;
        margin-bottom: -10px;
      }
      code, pre {
        background-color: #eaeaea;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
